﻿


<!DOCTYPE html>

<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>Index</title>
  

    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/semantic/semantic.css" rel="stylesheet" />


</head>

<body  >

    <div class="ui buttons">
        <a href="#!/create"><button class="ui button">Cargo Add</button></a>
        <a href="#!/show"><button  class="ui button">CargoList</button></a>

    </div>
   
    @RenderBody()
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    
    <script src="~/lib/angular/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

    <script src="~/semantic/semantic.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/app/app.js"></script>
    <script src="~/js/app/PackageCreateController.js"></script>
    <script src="~/js/app/PackageShowController.js"></script>
    <script src="~/js/app/services.js"></script>
    <script src="~/js/home.js"></script>
</body>
</html>
