﻿#topcontrol {
    margin-top: 30px;
    margin-left: 55px;
}

#from {
    display: inline-block;
}

#firm {
    display: inline-block;
}

#to {
    display: inline-block;
}

#date {
    display: inline-block;
}

.owner {
    width: 300px;
}

#owner {
    margin-left: 50px;
    display: inline-block;
}

#package {
    margin-left: 50px;
    display: inline-block;
}
#savebutton {
    position: absolute;
    left: 50%;
}

button {
    position: relative;
    left: 50%;
    top: 10px;
}

#getPackTC {
    width: 300px;
}
#getPackID {
    width: 300px;
}
.hasTooltip span {
    display: none;
    color: #000;
    text-decoration: none;
    padding: 3px;
}

.hasTooltip:hover span {
    display: block;
    background-color: #FFF;
    border: 1px solid #CCC;
    margin: 2px 10px;
}