﻿<script>
    $('.dropdown')
        .dropdown({
              transition: 'drop'
        });
</script>
    <div id="topcontrol">
    <div class="ui label">
        Select Firm
    </div>
    <br />
    <div id="firm">
        <select id="inputs0" class="ui search dropdown" ng-options="cargofirm.id as cargofirm.name for cargofirm in  vm.cargoFirms" ng-model="vm.selectedFirmId" ng-change="vm.getFirmCountryies();vm.setPrice();">
            <option value="">Select Firm</option>
        </select>

    </div>
    <br />
    <br />
    <br />
    <div id="from">
        <div class="ui label">
            From
        </div>
        <div id="CountrySelectFrom">
            <select id="inputs1" class="ui search dropdown" ng-options="countries.id as countries.name for countries in  vm.countries" ng-model="vm.selectedCountryIDFrom" ng-change="vm.getCities(0)">
                <option value="">Select Country</option>
            </select>


        </div>
        <div id="CitySelectFrom">
            <select id="inputs2" class="ui search dropdown" ng-options="cities.id as cities.name for cities in  vm.citiesFrom " ng-model="vm.selectedcityIDFrom" ng-change="vm.setCityID()">
                <option value="">Select City</option>
            </select>

        </div>
        <br />

        <div id="input0" class="ui input focus">
            <input id="DistinctF" type="text" placeholder="Town">
        </div>

        <br />
        <div id="input1" class="ui input focus">
            <input id="DistinctSubF" type="text" placeholder="District">
        </div>
        <br />
        <div id="input2" class="ui input focus">
            <input id="StreetF" type="text" placeholder="Street">
        </div>
        <br />
        <div id="input3" class="ui input focus">
            <input id="StreetSubF" type="text" placeholder="Home Street">
        </div>
        <br />
        <div id="input4" class="ui input focus">
            <input id="NoF" type="number" placeholder="No">
        </div>
        <br />
        <div id="input5" class="ui input focus">
            <input id="PostCodeF" type="number" placeholder="Postcode">
        </div>
        <br />
        <div id="input6" class="ui input focus">
            <input id="AdditionF" type="text" placeholder="Addtion">
        </div>

    </div>
    <div id="to">
        <div class="ui label">
            To
        </div>
        <div id="CountrySelectTo">
            <select id="inputs3" class="ui search dropdown" ng-options="countries.id as countries.name for countries in  vm.countries" ng-model="vm.selectedcountryIDTo" ng-change="vm.getCities(1)">
                <option value="">Select Country</option>
            </select>
        </div>
        <div id="CitySelectTo">
            <select id="inputs4" class="ui search dropdown" ng-options="cities.id as cities.name for cities in  vm.citiesTo " ng-model="vm.selectedcityIDTo" ng-change="vm.setCityID()">
                <option value="">Select City</option>
            </select>

        </div>
        <br />
        <div id="input7" class="ui input focus">
            <input id="DistinctT" type="text" placeholder="Town">
        </div>
        <br />
        <div id="input8" class="ui input focus">
            <input id="DistinctSubT" type="text" placeholder="District">
        </div>
        <br />
        <div id="input9" class="ui input focus">
            <input id="StreetT" type="text" placeholder="Street">
        </div>
        <br />
        <div id="input10" class="ui input focus">
            <input id="StreetSubT" type="text" placeholder="Home Street">
        </div>
        <br />
        <div id="input11" class="ui input focus">
            <input id="NoT" type="number" placeholder="No">
        </div>
        <br />
        <div id="input12" class="ui input focus">
            <input id="PostCodeT" type="number" placeholder="Postcode">
        </div>
        <br />
        <div id="input13" class="ui input focus">
            <input id="AdditionT" type="text" placeholder="Addition">
        </div>

    </div>

    <div id="owner">
        <div class="ui label">
            Owner
        </div>
        <div class="ui form">
            <div id="input14" class="field">
                <label>First Name</label>
                <input id="Name" type="text" name="first-name" placeholder="First Name">
            </div>

            <div id="input15" class="field ">
                <label>Last Name</label>
                <input id="Surname" type="text" name="last-name" placeholder="Last Name">
            </div>
            <div id="input16" class="field ">
                <label>ID</label>
                <input id="TC" type="number" name="tc" placeholder="TC">
            </div>
            <div id="input17" class="field ">
                <label>Phone</label>
                <input id="Phone" type="number" name="tel" placeholder="Phone Number">
            </div>
            <div id="input18" class="field ">
                <label>Email</label>
                <input id="Email" type="text" name="email" placeholder="Email">
            </div>
        </div>
    </div>
    <div id="package">
        <div class="ui label">
            Package
        </div>
        <div class="ui form">
            <div id="input19" class="field ">
                <label>Width</label>
                <input ng-model="vm.Width" ng-change="vm.setPrice()" id="Width" type="number" name="Width" placeholder="Width">
            </div>
            <div id="input20" class="field ">
                <label>Height</label>
                <input ng-model="vm.Height" ng-change="vm.setPrice()" id="Height" type="number" name="Height" placeholder="Height">
            </div>
            <div id="input21" class="field ">
                <label>Depth</label>
                <input ng-model="vm.Depth" ng-change="vm.setPrice()" id="Depth" type="number" name="Depth" placeholder="Depth">
            </div>
            <div id="input22" class="field ">
                <label>Weight</label>
                <input ng-model="vm.Weight" ng-change="vm.setPrice()" id="Weight" type="number" name="Weight" placeholder="Weight">
            </div>
            <div class="ui label">
                <b id="pricelabel"></b>
            </div>
        </div>
    </div>
    <br />
    <div style="margin-top: 25px" id="date">
        <div class="ui label">
            DueDate
        </div>
        <div class="required inline fields">

            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="frequency" checked="checked" ng-change="vm.setPrice()" ng-model="vm.pricedatefactor" ng-value="0">
                    <label>Today</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <div class="ui radio checkbox">
                        <input type="radio" name="frequency" ng-change="vm.setPrice()" ng-model="vm.pricedatefactor" ng-value="1">
                        <label>Tomorrow</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="frequency" ng-change="vm.setPrice()" ng-model="vm.pricedatefactor" ng-value="3">
                        <label>3 Days</label>
                    </div>
                </div>

            </div>
        </div>
        <br />
        <div id="savebutton">
            <button ng-click="vm.postPackage()" class="ui primary button">
                Save
            </button>
        </div>

    </div>


</div>


