﻿<script>
    $('.dropdown')
        .dropdown({
            transition: 'drop'
        });
</script>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        display: auto;
        word-wrap: break-word;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<div style="margin-left: 55px; margin-top: 50px; margin-bottom: 10px;" class="ui label">
        Select Firm
    </div>
    <br />
    <div style="margin-left: 55px; margin-bottom: 10px;" >

        <select class="ui search dropdown" ng-options="cargofirm.id as cargofirm.name for cargofirm in  vm.cargoFirms" ng-model="vm.selectedFirmId" ng-change="vm.getPackagesByFirm()">
            <option value="">Select Firm</option>
        </select>
    </div>
    <div style=" margin-left:55px; " class="ui form">
        <div id="getPackTC" class="field">
            <div style="float: left; margin-bottom: 10px;" class="ui label">
                Owner ID
            </div>
            <div>
                <input style="width: 250px;" id="Tc" type="text"  ng-model="vm.OwnerID" ng-change="vm.getPackagesByOwner()" name="tc" placeholder="TC">

            </div>
        </div>

    </div>
    <br/>
    <div style=" margin-left:55px; " class="ui form">
        <div id="getPackID" class="field">
            <div style="float: left; margin-bottom: 10px;" class="ui label">
                Package ID
            </div>
            <div>
                <input style="width: 250px;" id="packid" type="number" ng-model="vm.PackID" ng-change="vm.getPackageByPackID()" name="id" placeholder="ID">

            </div>
        </div>

    </div> 
    <br/>
    <div style=" margin-left:55px; " class="ui form">
        <div  class="field">
            <div style="float: left;" class="ui label">
                Top:
            </div>
       
            <div>
                <input style="width: 100px;"  type="number" ng-model="vm.orderLimit"   placeholder="Limit">

            </div>
        </div>

    </div>
<br />
    <div id="packageTable" style="width: 100%; ">
        <table>
            <tr>
                <th ng-click="vm.sortBy('packageID')">PackageID &#8673;</th>
                <th ng-click="vm.sortBy('tc')">TC &#8673;</th> 
                <th ng-click="vm.sortBy('name')">Name &#8673;</th>
                <th ng-click="vm.sortBy('surname')">Surname &#8673;</th>
                <th ng-click="vm.sortBy('phone')">Phone &#8673;</th>
                <th ng-click="vm.sortBy('email')">Email &#8673;</th>
                <th ng-click="vm.sortBy('dueDate')">DueDate &#8673;</th>
                <th ng-click="vm.sortBy('width')">Width &#8673;</th>
                <th ng-click="vm.sortBy('height')">Height &#8673;</th>
                <th ng-click="vm.sortBy('weight')">Weight &#8673;</th>
                <th ng-click="vm.sortBy('depth')">Depth &#8673;</th>
                <th ng-click="vm.sortBy('price')">Price &#8673;</th>
                <th ng-click="vm.sortBy('firmName')">FirmName &#8673;</th>
                <th ng-click="vm.sortBy('fromAddress.countryName')">FromCountry &#8673;</th>
                <th ng-click="vm.sortBy('fromAddress.cityName')">FromCity &#8673;</th>
                <th ng-click="vm.sortBy('toAddress.countryName')">ToCountry &#8673;</th>
                <th ng-click="vm.sortBy('toAddress.cityName')">ToCity &#8673;</th>

            </tr>
            <tr ng-repeat="x in vm.Packages | orderBy:vm.OrderBy  | limitTo:vm.orderLimit">
                <td >
                    {{ x.packageID }}
                </td>
                <td  >
                    {{ x.owner.tc }}
                </td>
                <td>
                    {{ x.owner.name }}
                </td>
                <td>
                    {{ x.owner.surname }}
                </td>
                <td>
                    {{ x.owner.phone }}
                </td>
                <td>
                    {{ x.owner.email }}
                </td>
                <td>
                    {{ x.dueDate }}
                </td>
                <td>
                    {{ x.width }}
                </td>
                <td>
                    {{ x.height }}
                </td>
                <td>
                    {{ x.weight }}
                </td>
                <td>
                    {{ x.depth }}
                </td>
                <td>
                    {{ x.price }}
                </td>
                <td>
                    {{ x.firmName }}
                </td>
                <td class="hasTooltip" value="{{x.fromAddress}}" onMouseOver="getAddressInfo(this);" onMouseOut="hideAddreess(this);">
                    {{ x.fromAddress.countryName }}
                    <span>New visual experience!</span>
                </td>
                <td class="hasTooltip" value="{{x.fromAddress}}" onMouseOver="getAddressInfo(this);" onMouseOut="hideAddreess(this);">
                    {{ x.fromAddress.cityName }}

                    <span></span>
                </td>
                <td class="hasTooltip" value="{{x.toAddress}}" onMouseOver="getAddressInfo(this);" onMouseOut="hideAddreess(this);">
                    {{ x.toAddress.countryName }}
                    <span></span>
                </td>
                <td class="hasTooltip" value="{{x.toAddress}}" onMouseOver="getAddressInfo(this);" onMouseOut="hideAddreess(this); ">
                    {{ x.toAddress.cityName }}
                    <span></span>
                </td>


            </tr>
        </table>

</div>
